<aside class="sidebar">
  <ul class="sidebar-item">
    <li class="sidebar-item">
      {{#link-to 'dashboard.overview'}}
        Overview
        <p>
          {{#if (lt sumDifference 0)}}
            {{money sumDifference}} in the red
          {{else}}
            {{money sumDifference}} left
          {{/if}}
        </p>
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to 'dashboard.expenses'}}
        Expenses
        <p>
          {{money expenseSum}}
        </p>
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to 'dashboard.incomes'}}
        Incomes
        <p>
          {{money incomeSum}}
        </p>
      {{/link-to}}
    </li>
  </ul>
</aside>
