{{#component 'nav-bar' currentUser=session.currentUser
             goPeriodBack=(action 'goPeriodBack') goPeriodNext=(action 'goPeriodNext')
             prevPeriod=prevPeriod nextPeriod=nextPeriod
             logout=(action 'logout')
}}
  {{period-in-words period}}
{{/component}}

{{side-bar sumDifference=sumDifference expenseSum=expenseSum incomeSum=incomeSum}}

<div class="main">
  <button {{action 'showNewModal'}}>open modal </button>

  {{outlet}}
</div>

{{global-links showModal=(action 'openNewBalanceModal')}}

{{#if showModalDialog}}
  {{#modal-dialog close="closeNewBalanceModal"}}
    {{balance-change-form save=(action 'save') balanceChange=balanceChange}}
  {{/modal-dialog}}
{{/if}}
